#event-background1{
    background-image: url('assets/images/eventBackground1.png');
}
#event-background2{
    background-image: url('assets/images/eventBackground2.jpg');
}
#event-background3{
    background-image: url('assets/images/eventBackground1.png');
}
#event-background4{
    background-image: url('assets/images/eventBackground2.jpg');
}
#event-background5{
    background-image: url('assets/images/eventBackground1.png');
}
#event-background6{
    background-image: url('assets/images/eventBackground2.jpg');
}
#event-background7{
    background-image: url('assets/images/eventBackground1.png');
}
#event-background8{
    background-image: url('assets/images/eventBackground2.jpg');
}